<!DOCTYPE html>
<html>
<head>
  <title>Fun Translations</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/dist/output.css" rel="stylesheet">
  <script src="/js/htmx/htmx.min.js"></script>
</head>
<body class="container mx-auto bg-gray-light"> <!-- add bg-gray-light class to the body -->
  <div class="flex justify-center my-12">
    <h1 class="flex text-3xl">Fun Translations</h1>
  </div>

  <div class="bg-white-custom rounded-xl mx-5 px-4 md:w-80 lg:w-60 md:mx-auto">
    <form hx-post="/translate" hx-target="#output" class="flex flex-col items-center py-5">
      <textarea class="w-full mb-4 px-2" type="text" id="input" name="text" rows="4" cols="40" placeholder="Enter something to translate..." hx-vals="."></textarea>
      <div class="flex flex-row items-center py-5 mb-4">
        <select name="language" class="leading-6 hover:cursor-pointer h-full mr-2 mt-4 px-4 py-2 w-2/3 md:w-auto appearance-none border rounded bg-gray-light text-gray-700 focus:outline-none focus:shadow-outline" id="language-select">
          <option value="" selected disabled>Select a language</option>
          <option value="pirate">🏴‍☠ Pirate</option>
          <option value="yoda">👽 Yoda</option>
          <option value="valyrian">🐉 Valyrian</option>
          <option value="shakespeare">📃 Shakespeare</option>
        </select>
        <button class="btn h-full" type="submit" hx-disable="!this.value">Translate</button>
      </div>
    </form>
  </div>
  <div id="output" class="flex justify-center my-12"></div>

  <script>
    const languageSelect = document.getElementById("language-select");
    const outputDiv = document.getElementById("output");

    languageSelect.addEventListener("change", () => {
      const selectedOption = languageSelect.options[languageSelect.selectedIndex];
      const selectedFont = selectedOption.dataset.font;
      outputDiv.style.fontFamily = selectedFont ? `'${selectedFont}', sans-serif` : "sans-serif";
    });
  </script>
</body>
