<!DOCTYPE html>
<html>
<head>
  <title>Fun Translations</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/dist/output.css" rel="stylesheet">
  <script src="/js/htmx/htmx.min.js"></script>
</head>
<body class="container mx-auto bg-gray-light"> <!-- add bg-gray-light class to the body -->
  <div class="flex justify-center my-12">
    <h1 class="flex text-3xl">Fun Translations</h1>
  </div>

  <div class="bg-white-custom rounded-xl mx-4 md:mx-5 py-4 md:py-5">
    <form hx-post="/translate" hx-target="#output" class="flex flex-col items-center">
      <textarea type="text" id="input" name="text" rows="4" cols="40" placeholder="Enter something to translate..." class="w-[90%] md:w-auto px-2 py-1 md:px-4 md:py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring focus:ring-blue-500 focus:border-blue-500 mb-2"></textarea>
      <div class="flex flex-row items-center">
        <select name="language" class="mr-8 hover:cursor-pointer h-8 mt-4 shadow-none appearance-none drop-shadow-none px-2">
          <option value="" disabled selected>Select a language</option>
          <option value="pirate">🏴‍☠ Pirate</option>
          <option value="yoda" class="font-dokdo">👽 Yoda</option>
          <option value="valyrian" class="font-lavishly_yours">🐉 Valyrian</option>
          <option value="shakespeare" class="font-tangerine">📃 Shakespeare</option>
        </select>
        <button class="btn" type="submit" hx-disable="!this.value">Translate</button>
      </div>
    </form>
  </div>
  <div id="output" class="flex justify-center my-12 font-bold italic"></div>
</body>
