<!DOCTYPE html>
<html>
<head>
  <title>Fun Translations</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/dist/output.css" rel="stylesheet">
  <script src="/js/htmx/htmx.min.js"></script>
</head>
<body class="container mx-auto bg-gray-light"> <!-- add bg-gray-light class to the body -->
  <div class="flex justify-center my-12">
    <h1 class="flex text-3xl">Fun Translations</h1>
  </div>

  <div class="bg-white-custom"> <!-- add bg-white-custom class to the form container -->
    <form hx-post="/translate" hx-target="#output" class="flex flex-col items-center">
      <textarea type="text" id="input" name="text" rows="4" cols="40" placeholder="Enter something to translate..."></textarea>
      <select name="language" class="mt-4">
        <option value="pirate">🏴‍☠ Pirate</option>
        <option value="yoda">👽 Yoda</option>
        <option value="valyrian">🐉 Valyrian</option>
        <option value="shakespeare">📃 Shakespeare</option>
      </select>
      <button class="mt-4 y-18 px-4 py-2 rounded-full text-white bg-gray-300 hover:bg-gray-400 focus:outline-none focus:shadow-outline-gray" type="submit">Translate</button>
    </form>
  </div>
  <div id="output" class="flex justify-center my-12 font-bold italic"></div>
</body>
